<!DOCTYPE html>
<html lang="en" class="">
<head>
    <link rel="icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="../static/css/b.css">
    <link rel="stylesheet" href="../static/css/c.css">
    <link rel="stylesheet" href="../static/css/d.css">
</head>
<body class="ReactModal__Body--open">
<div class="ReactModalPortal">
    <div class="ReactModal__Overlay ReactModal__Overlay--after-open FullPageModal_overlay__2XtTX ">
        <div class="ReactModal__Content ReactModal__Content--after-open PassportNav_modalSetting__3bPgw" tabindex="-1"
             role="dialog">
            <div data-focus-guard="true" tabindex="0"
                 style="width: 1px; height: 0px; padding: 0px; overflow: hidden; position: fixed; top: 1px; left: 1px;"></div>
            <div data-focus-guard="true" tabindex="1"
                 style="width: 1px; height: 0px; padding: 0px; overflow: hidden; position: fixed; top: 1px; left: 1px;"></div>
            <div data-focus-lock-disabled="false">
                <div class="Settings_root__1oASK" tabindex="-1">
                    <header class="AuthHeader_signUpHeader__2iOZc">
                        <a aria-current="page"
                           class="AuthHeader_backBtn__k6l7C visibility-hidden active"
                           tabindex="0"
                           href="/passport">
                            <svg height="32" viewBox="0 0 32 32" width="32">
                                <defs>
                                    <path id="back-a"
                                          d="m3.758 5.5h17.159v2h-16.978l3.894 3.894-1.424 1.424-6.409-6.408 6.41-6.41 1.423 1.424z"></path>
                                    <mask id="back-b" fill="#fff">
                                        <use fill="#fff" fill-rule="evenoddback" xlink:href="#back-a"></use>
                                    </mask>
                                </defs>
                                <g fill="none" fill-rule="evenoddback">
                                    <path d="m0 0h32v32h-32z"></path>
                                    <path d="m0 0h32v32h-32z"></path>
                                    <path d="m2 2h28v28h-28z"></path>
                                    <g transform="translate(6 10)">
                                        <use fill="#2e2733" xlink:href="#back-a"></use>
                                        <g fill="#fff" mask="url(#back-b)">
                                            <path d="m-6-10h32v32h-32z"></path>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </a>
                        <div class="ProgressBar_headerProgressBar___bCC9 AuthHeader_progressBar__275QL visibility-hidden">
                            <span>01</span>
                            <ul>
                                <li class="ProgressBar_progress__20v60 ProgressBar_current__2uw7y"></li>
                                <li class=" "></li>
                                <li class=" "></li>
                                <li class=" "></li>
                            </ul>
                            <span class="ProgressBar_progressTotal__2fQit ">04</span></div>
                        <a href="../" class="AuthHeader_closeBtn__2AbH5 " tabindex="0">
                            <img
                                    class="AuthHeader_closeIcon__Q3ZwL" alt="close"
                                    src="/static/images/icons/close.svg"></a></header>
                    <div class="AccountSettings_container__11I3A" role="main"><h2
                            class="AccountSettings_heading__x6k4A">Account Settings</h2>
                        <div class="AccountSettings_fieldWrap__2H4U0">
                            <div class="AccountSettings_labelWrap__MQaNH"><span class="AccountSettings_label__iSsn6">Name</span><a
                                    aria-current="page" class="AccountSettings_editBtn__15HdS active" tabindex="0"
                                    id="editName" href="https://my.wizardingworld.com/passport">Edit</a></div>
                            <span class="AccountSettings_field__alchA" data-hide="true">AmirMohammad</span></div>
                        <div class="AccountSettings_fieldWrap__2H4U0">
                            <div class="AccountSettings_labelWrap__MQaNH"><span class="AccountSettings_label__iSsn6">Email Address</span>
                            </div>
                            <span class="AccountSettings_field__alchA" data-hide="true">tripgrammer@gmail.com</span>
                        </div>
                        <div class="AccountSettings_fieldWrap__2H4U0">
                            <div class="AccountSettings_labelWrap__MQaNH"><span class="AccountSettings_label__iSsn6">Password</span><a
                                    aria-current="page" class="AccountSettings_editBtn__15HdS active" tabindex="0"
                                    id="editPassword" href="https://my.wizardingworld.com/passport">Edit</a></div>
                            <span class="AccountSettings_field__alchA" data-hide="true">••••••••••</span></div>
                        <svg width="309px" height="10px" viewBox="0 0 309 10" class="SubscriptionStatus_divider__xcsuT">
                            <title>Group</title>
                            <desc>Created with Sketch.</desc>
                            <defs>
                                <lineargradient x1="0%" y1="0%" x2="100%" y2="0%" id="linearGradient-1">
                                    <stop stop-color="#FFFFFF" offset="0%"></stop>
                                    <stop stop-color="#FFFFFF" stop-opacity="0" offset="100%"></stop>
                                </lineargradient>
                                <lineargradient x1="100%" y1="-1.11022302e-14%" x2="0%" y2="0%" id="linearGradient-2">
                                    <stop stop-color="#FFFFFF" offset="0%"></stop>
                                    <stop stop-color="#FFFFFF" stop-opacity="0" offset="100%"></stop>
                                </lineargradient>
                            </defs>
                            <g id="FORMKIT" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
                               opacity="0.169410342">
                                <g id="02B_MultistepForm_Desktop" transform="translate(-896.000000, -929.000000)"
                                   fill-rule="nonzero">
                                    <g id="Group-2" transform="translate(331.000000, 789.000000)">
                                        <g id="Group" transform="translate(565.000000, 140.000000)">
                                            <polygon fill="#FFFFFF" points="155 0 160 5 155 10 150 5"></polygon>
                                            <rect fill="url(#linearGradient-1)" x="168" y="4" width="142"
                                                  height="1"></rect>
                                            <rect fill="url(#linearGradient-2)" x="0" y="4" width="142"
                                                  height="1"></rect>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg>
                        <h2 class="SubscriptionStatus_heading__2auo-">Birthday Settings</h2>
                        <div class="SubscriptionStatus_fieldWrap__1USZ2">
                            <div class="SubscriptionStatus_labelWrap__YQHNz"><span
                                    class="SubscriptionStatus_label__1BKc7">DATE OF BIRTH</span></div>
                            <span class="SubscriptionStatus_field__42lK-">3rd April 1996</span></div>
                        <svg width="309px" height="10px" viewBox="0 0 309 10" class="AccountSettings_divider__FX5Y9">
                            <title>Group</title>
                            <desc>Created with Sketch.</desc>
                            <defs>
                                <lineargradient x1="0%" y1="0%" x2="100%" y2="0%" id="linearGradient-1">
                                    <stop stop-color="#FFFFFF" offset="0%"></stop>
                                    <stop stop-color="#FFFFFF" stop-opacity="0" offset="100%"></stop>
                                </lineargradient>
                                <lineargradient x1="100%" y1="-1.11022302e-14%" x2="0%" y2="0%" id="linearGradient-2">
                                    <stop stop-color="#FFFFFF" offset="0%"></stop>
                                    <stop stop-color="#FFFFFF" stop-opacity="0" offset="100%"></stop>
                                </lineargradient>
                            </defs>
                            <g id="FORMKIT" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
                               opacity="0.169410342">
                                <g id="02B_MultistepForm_Desktop" transform="translate(-896.000000, -929.000000)"
                                   fill-rule="nonzero">
                                    <g id="Group-2" transform="translate(331.000000, 789.000000)">
                                        <g id="Group" transform="translate(565.000000, 140.000000)">
                                            <polygon fill="#FFFFFF" points="155 0 160 5 155 10 150 5"></polygon>
                                            <rect fill="url(#linearGradient-1)" x="168" y="4" width="142"
                                                  height="1"></rect>
                                            <rect fill="url(#linearGradient-2)" x="0" y="4" width="142"
                                                  height="1"></rect>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg>
                        <h2 class="AccountSettings_heading__x6k4A">MBTI</h2>

                        <div class="AccountSettings_fieldWrap__2H4U0">
                            <div class="AccountSettings_labelWrap__MQaNH"><span class="AccountSettings_label__iSsn6">Your MBTI</span><a
                                    aria-current="page" class="AccountSettings_editBtn__15HdS active" tabindex="0"
                                    id="editName" href="https://my.wizardingworld.com/passport">Edit</a></div>
                            <span class="AccountSettings_field__alchA" data-hide="true">INTJ</span></div>
                    </div>
                </div>
            </div>
            <div data-focus-guard="true" tabindex="0"
                 style="width: 1px; height: 0px; padding: 0px; overflow: hidden; position: fixed; top: 1px; left: 1px;"></div>
        </div>
    </div>
</div>
</body>
</html>