<!DOCTYPE html>

<html lang="en" class="">
<head>
    <link rel="icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/css/b.css">
    <link rel="stylesheet" href="/static/css/c.css">
    <link rel="stylesheet" href="/static/css/d.css">
</head>
<body>
<div id="root">
    <div data-focus-lock-disabled="disabled">
        <nav class="Navigation_navigation__1EgxP  "
             style="--navigation-background-image:url(\/static\/media\/background\.ac425187\.jpg);">
            <div class="Navigation_navigationHeader__1EuDc " role="navigation">
                <div class="Navigation_navigationHeaderItem__3NAdA">
                    <div class="Navigation_homeButton__visUN">
                        {#                        <a tabindex="0" href="../blog/">HOME</a>#}
                    </div>
                </div>
                <div class="Navigation_navigationHeaderItem__3NAdA">
                    <div class="Navigation_logo__QwHBD ">
                        <span class="HogwartsHouse_pinTop__10sYt">Trip Passport</span>
{#                        <a tabindex="0" href="/blog"><img src="../static/images/apollo.png" height="75px"/></a>#}
                    </div>
                </div>
                <div class="Navigation_navigationHeaderItem__3NAdA">
{#                    <button type="button" class="PassportNav_setting__272NT">#}
{#                        <a href="/account_sttings">#}
{#                            <img src="/static/images/icons/setting.svg" alt="Settings">#}
{#                        </a>#}
{#                    </button>#}
                </div>
            </div>
        </nav>
    </div>
    <div role="button" tabindex="0" style="height: 993px; min-height: 993px; overflow: hidden;">
        <div role="main" class="HogwartsHouse_fullPage__1rVUz HogwartsHouse_Ravenclaw__3ZEKG page-reverse-enter-done"
             style="background-image: url(../static/images/bg.6a589e6d.jpg);">
            <div class="HogwartsHouse_flexOuterContainer__28cTn ">
                <span class="HogwartsHouse_pinTop__10sYt"></span>
                <section class="HogwartsHouse_flexContainer__3bzc4">
                    <div class="HogwartsHouse_flexItem__2b2M5">

                        <img src="{{ user_data.0.cover }}" height="300px">
                    </div>
                    <div class="HogwartsHouse_name__3xYBM" data-hide="true">
                        <div class="HogwartsHouse_userName__3CrYN">
                            <div data-radium="true">
                                <div class="ScaleText_root__3vyDP" data-radium="true">
                                    <div data-radium="true" class="rmq-4680e074 rmq-b5be5534 rmq-34543b91">
                                        <div>{{ user_data.0.mbti_title }}</div>
                                    </div>
                                </div>
                                <style>@media (min-width: 0px) {
                                    .rmq-4680e074 {
                                        font-size: 38px !important;
                                        line-height: 49.4px !important;
                                    }
                                }

                                @media (min-width: 768px) {
                                    .rmq-b5be5534 {
                                        font-size: 64px !important;
                                        line-height: 83.2px !important;
                                    }
                                }

                                @media (min-width: 1042px) {
                                    .rmq-34543b91 {
                                        font-size: 88px !important;
                                        line-height: 114.4px !important;
                                    }
                                }</style>
                            </div>
                        </div>
                    </div>
                    <div class="HogwartsHouse_flexItem__2b2M5">
                           <span
                                   class="HogwartsHouse_houseName__CykI1">{{ user_data.0.mbti }}</span></div>
                </section>
                <div class="HogwartsHouse_pinBottom__4qbra"><span
                        class="HogwartsHouse_hintText__Z0urW">Recognize More About Yourself</span>
                    <div class="RenderAnimation_scroll-indicator__2E8Ka">
                        <div class="RenderAnimation_inner__MWPOh ">
                            <div aria-label="Animated scroll indicator" role="img">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 50" width="26" height="50"
                                     preserveAspectRatio="xMidYMid meet"
                                     style="width: 100%; height: 100%; transform: translate3d(0px, 0px, 0px);">
                                    <defs>
                                        <clippath id="__lottie_element_1696">
                                            <rect width="26" height="50" x="0" y="0"></rect>
                                        </clippath>
                                    </defs>
                                    <g clip-path="url(#__lottie_element_1696)">
                                        <g transform="matrix(0.5656844973564148,0.5656844973564148,-0.5656844973564148,0.5656844973564148,212.93194580078125,-162.3199920654297)"
                                           opacity="0.9999984777229378" style="display: block;">
                                            <g opacity="1"
                                               transform="matrix(1,0,0,1,-0.1379999965429306,352.6549987792969)">
                                                <path fill="rgb(0,0,0)" fill-opacity="1" d="M0 0"></path>
                                                <path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0"
                                                      stroke-miterlimit="4" stroke="rgb(255,255,255)" stroke-opacity="1"
                                                      stroke-width="1"
                                                      d=" M9.97249984741211,-9.97249984741211 C9.97249984741211,-9.97249984741211 9.97249984741211,9.97249984741211 9.97249984741211,9.97249984741211 C9.97249984741211,9.97249984741211 -9.97249984741211,9.97249984741211 -9.97249984741211,9.97249984741211 C-9.97249984741211,9.97249984741211 -9.97249984741211,-9.97249984741211 -9.97249984741211,-9.97249984741211 C-9.97249984741211,-9.97249984741211 9.97249984741211,-9.97249984741211 9.97249984741211,-9.97249984741211z"></path>
                                            </g>
                                        </g>
                                        <g style="display: block;"
                                           transform="matrix(0.5656854510307312,0.5656854510307312,-0.5656854510307312,0.5656854510307312,212.93185424804688,-172.25872802734375)"
                                           opacity="0.36427390923929087">
                                            <g opacity="1"
                                               transform="matrix(1,0,0,1,-0.1379999965429306,352.6549987792969)">
                                                <path fill="rgb(0,0,0)" fill-opacity="1" d="M0 0"></path>
                                                <path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0"
                                                      stroke-miterlimit="4" stroke="rgb(255,255,255)" stroke-opacity="1"
                                                      stroke-width="1"
                                                      d=" M9.97249984741211,-9.97249984741211 C9.97249984741211,-9.97249984741211 9.97249984741211,9.97249984741211 9.97249984741211,9.97249984741211 C9.97249984741211,9.97249984741211 -9.97249984741211,9.97249984741211 -9.97249984741211,9.97249984741211 C-9.97249984741211,9.97249984741211 -9.97249984741211,-9.97249984741211 -9.97249984741211,-9.97249984741211 C-9.97249984741211,-9.97249984741211 9.97249984741211,-9.97249984741211 9.97249984741211,-9.97249984741211z"></path>
                                            </g>
                                        </g>
                                        <g transform="matrix(0.5656854510307312,0.5656854510307312,-0.5656854510307312,0.5656854510307312,213.06985473632812,-183.25872802734375)"
                                           opacity="0.004892931817657918" style="display: block;">
                                            <g opacity="1"
                                               transform="matrix(1,0,0,1,-0.1379999965429306,352.6549987792969)">
                                                <path fill="rgb(0,0,0)" fill-opacity="1" d="M0 0"></path>
                                                <path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0"
                                                      stroke-miterlimit="4" stroke="rgb(255,255,255)" stroke-opacity="1"
                                                      stroke-width="1"
                                                      d=" M9.97249984741211,-9.97249984741211 C9.97249984741211,-9.97249984741211 9.97249984741211,9.97249984741211 9.97249984741211,9.97249984741211 C9.97249984741211,9.97249984741211 -9.97249984741211,9.97249984741211 -9.97249984741211,9.97249984741211 C-9.97249984741211,9.97249984741211 -9.97249984741211,-9.97249984741211 -9.97249984741211,-9.97249984741211 C-9.97249984741211,-9.97249984741211 9.97249984741211,-9.97249984741211 9.97249984741211,-9.97249984741211z"></path>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div role="button" tabindex="0" style="height: 993px; min-height: 993px; overflow: hidden;">
        <div role="main" class="Favourites_fullPage__2aKpP page-reverse-enter-done"
             style="background-image: url(../static/images/bg@2x.7c1cbd6e.jpg);">
            <div class="Favourites_flexOuterContainer__3ByEW">
                <div class=" FavouriteCards_flexContainer__2ww0-" tabindex="0" role="button">
                    <div>
                        <h1 class="FavouriteCards_title__1cLXP">Your Characters</h1>
                    </div>
                    <div class="FavouriteCards_sliderContainer__1Un5E">
                        <div role="button" tabindex="0" id="btn_favourites_prev"
                             class="FavouriteCards_prevBtn__2Ceyn visibility-hidden">
                            <svg height="42" viewBox="0 0 42 42" width="42">
                                <g fill="none" fill-rule="evenodd" stroke="#faf6f0">
                                    <path d="m21 .5c-11.32183737 0-20.5 9.17816263-20.5 20.5 0 11.3218374 9.17816263 20.5 20.5 20.5 11.3218374 0 20.5-9.1781626 20.5-20.5 0-11.32183737-9.1781626-20.5-20.5-20.5z"></path>
                                    <g stroke-width="1.7" transform="translate(16 14)">
                                        <path d="m3.3363 8.92265 5.4 5"></path>
                                        <path d="m.6363 8.08931667 8.1-7.5"></path>
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <div class="FavouriteCards_slider__1ov8V" style="height: 700px; width: 1250px;">
                            <div class="FavouriteCards_sliderWrapper__2aUVH"
                                 style="transition-duration: 300ms; transform: translate3d(0px, 0px, 0px);">
                                <div role="button" tabindex="-1"
                                     class="FavouriteCard_card__1xl4C FavouriteCard_unsorted__3uJiY FavouriteCards_card__1aQKI FavouriteCard_card_favouriteUnknown__qsgM7"
                                     style="z-index: 0; width: 363px; height: 500px; opacity: 0.75; transform: translate3d(0px, 0px, 0px);">
                                    <div aria-label="Favourite Card Animation" role="img">
                                        <img src="{{ character_data.0.cover }}" height="500px" width="363px"
                                             style="border-radius: 5%; filter: brightness(50%);"/>
                                    </div>
                                    <div class="FavouriteCard_flexContainer__2BEWg">
                                        <div class="FavouriteCard_favCheckBox__1tqfH visibility-hidden">
                                            <svg height="22" viewBox="0 0 22 22" width="22">
                                                <circle cx="11" cy="11" fill="none" r="10"
                                                        stroke="#faf6f0"></circle>
                                            </svg>
                                        </div>
                                        <div class="FavouriteCard_contentContainer__2DlAL">
                                                <span class="FavouriteCard_answer__1BzYL">
                                                    {{ character_data.0.title }}</span>
                                            <span class="FavouriteCard_answer__1BzYL">
                                                    {{ character_data.0.category }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div role="button" tabindex="-1"
                                     class="FavouriteCard_card__1xl4C FavouriteCard_unsorted__3uJiY FavouriteCards_card__1aQKI FavouriteCard_card_favouriteUnknown__qsgM7"
                                     style="z-index: 0; width: 363px; height: 500px; opacity: 0.75; transform: translate3d(40px, 0px, 0px);">
                                    <div aria-label="Favourite Card Animation" role="img">
                                        <img src="{{ character_data.1.cover }}" height="500px" width="363px"
                                             style="border-radius: 5%; filter: brightness(50%);"/>
                                    </div>
                                    <div class="FavouriteCard_flexContainer__2BEWg">
                                        <div class="FavouriteCard_favCheckBox__1tqfH visibility-hidden">
                                            <svg height="22" viewBox="0 0 22 22" width="22">
                                                <circle cx="11" cy="11" fill="none" r="10"
                                                        stroke="#faf6f0"></circle>
                                            </svg>
                                        </div>
                                        <div class="FavouriteCard_contentContainer__2DlAL"><span
                                                class="FavouriteCard_answer__1BzYL">{{ character_data.1.title }}</span>
                                            <span class="FavouriteCard_answer__1BzYL">
                                                    {{ character_data.1.category }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div role="button" tabindex="-1"
                                     class="FavouriteCard_card__1xl4C FavouriteCard_unsorted__3uJiY FavouriteCards_card__1aQKI FavouriteCard_card_favouriteUnknown__qsgM7"
                                     style="z-index: 0; width: 363px; height: 500px; opacity: 0.75; transform: translate3d(80px, 0px, 0px);">
                                    <div aria-label="Favourite Card Animation" role="img">
                                        <img src="{{ character_data.2.cover }}" height="500px" width="363px"
                                             style="border-radius: 5%; filter: brightness(50%);"/>
                                    </div>
                                    <div class="FavouriteCard_flexContainer__2BEWg">
                                        <div class="FavouriteCard_favCheckBox__1tqfH visibility-hidden">
                                            <svg height="22" viewBox="0 0 22 22" width="22">
                                                <circle cx="11" cy="11" fill="none" r="10"
                                                        stroke="#faf6f0"></circle>
                                            </svg>
                                        </div>
                                        <div class="FavouriteCard_contentContainer__2DlAL">
                                                <span
                                                        class="FavouriteCard_answer__1BzYL">{{ character_data.2.title }}</span>
                                            <span class="FavouriteCard_answer__1BzYL">
                                                    {{ character_data.2.category }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div role="button" tabindex="0" style="height: 993px; min-height: 993px; overflow: hidden;">
        <div role="main" class="Wand_fullPage__3ZNKd page-forward-enter-done"
             style="background-image: url({{ user_data.1.pic }}); position: relative;">
            <div class=" Wand_flexContainer__DGoiH">
                <div style="position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.70)"></div>
                <div class="Wand_detailContainer__31fJr" style="position: relative">
                    <p class="Wand_eyebrow__KRXaR">WHERE YOU SHOULD GO</p>
                    <span class="Wand_unknown__bD2Zm">{{ user_data.1.name }}</span>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>